extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Edinburgh Napier University is a public university in Edinburgh, Scotland. Napier Technical College, the predecessor of the university was founded in 1964, taking its name from Scottish mathematician John Napier. 
        p School of Computing graduates are highly sought after and well equipped for a wide range of computing, creative computing and information systems careers. With over 50 academics and 1100 students we are one of the UK's largest computing departments.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE