extends layout.pug

block head
  title Base64

block content 
  section.para
    h1 Base64 Cipher
    p
        | Base64 is a group of similar binary-to-text encoding schemes that represent binary data in an ASCII string format by translating it into a radix-64 representation. The term Base64 originates from a specific MIME content transfer encoding. Each Base64 digit represents exactly 6 bits of data. Three 8-bit bytes (i.e., a total of 24 bits) can therefore be represented by four 6-bit Base64 digits.
        div(align='center')
    div
        label(for='filePicker') Choose or drag a file:
    br
    input#filePicker(type='file')
    br
    div
        textarea#message(placeholder='Type your message' style='font:20px/1.25 normal freemono, calibri, monospace;width:70%;height:7em;')
    .btn
        div(style='text-align:center;')
        button.button(type='submit' onclick='encodeBase(this)') Encode
        button.button(type='submit' onclick='decodeBase(this)') Decode
        button.button(type='submit' onclick='eraseText()') Clear
        div
        script(type='text/javascript', src='./javascript/base64.js')
        .footer
          p
            | Ismael Souf 
            br
            |  Date: 19th April