extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Me
        p Student in 2nd Year at Edinburgh Napier University, currently styuding Computing in order to become a Cyber Security Analyst. 40326941 - Ismael Souf 
        

        a.btn.btn-primary(href='#') Get in touch

