extends layout.pug

block head
  title Home Page

block content

    h1  AloKet Delaware
    h2 Welcome !
    p
     | The goal of this assignment is to extend your cypher site from the first coursework to design and implement a coded messaging platform.
    p
     | This website allows you to test various encoding methods. Moreover discover my new platform which include sending messages with your friends ! AloKet Delaware is here !
    h5
     | &quot;Privacy and encryption work, but it&apos;s too easy to make a mistake that exposes you.&quot;
     br
     | Barton Gellman
     section.para
     img.img1(src='./img/messages.jpg')
    .footer
       p
         | Ismael Souf 
         br
         |  Date: 19th April
    
