extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Send and Receive Message with AloKet !
    p.lead Choose which encoder you want to use!
    a.btn.btn-info-outline.btn-lg(href='/register') Register for FREE