extends layout.pug

block head
  title Login Page

block content    
  form.regform(action='/login', method='POST')
    h1(align='left') LOGIN
    p
      | USERNAME: 
      br
      input.reginput(type='text',name='luname', placeholder='Enter your username...')
    p
      | PASSWORD: 
      br
      input.reginput(type='password',name='lpword', placeholder='Enter your password...')
      br
      button.regsubmitbtn(type='submit') Login
    br
    .footer
          p
            | Ismael Souf 
            br
            |  Date: 19th April
