extends layout.pug

block head
  title Login

block content    
  form.form1(action='/login', method='POST')
    h1(align='left') LOGIN
    p
      | USERNAME: 
      br
      input.form2(type='text',name='uname', placeholder='Enter your username...(case sensitive)')
    p
      | PASSWORD: 
      br
      input.form2(type='password',name='upass', placeholder='Enter your password...')
      br
      button.form3(type='submit') Login
    img.img1(src='./img/messages.jpg')
    .footer
          p
            | Ismael Souf 
            br
            |  Date: 19th April
