extends layout.pug

block head
  title Contact Page
  
block content
  .container
    div(style='text-align:center')
      h2 AloKet Messenger
      form.regform(action='/messenger', method='POST')
        select.select1(name='receiver')
          option Please select a user...
          each n in data
            option=n
        textarea#message(name='msg', placeholder='Enter you message here...' style='font:20px/1.25 normal freemono, calibri, monospace;width:70%;height:7em;')
        br
        div(align='center')
        label Key(Applicable for Vigenere):
        input#key(type='text' size='10' maxlength='15' maxwidth='')
        p
        button.btncontact(type='submit' onclick='encodeBase(this)') Send Base64
        button.btncontact(type='submit' onclick='vigenere(false)') Send Vigenere
        button.btncontact(type='submit' onclick='encode()') Send Morse
        script(type='text/javascript', src='./javascript/base64.js')
        script(type='text/javascript' src='./javascript/vigenere.js')
        script(type='text/javascript' src='./javascript/morse.js')
        .footer
          p
            | Ismael Souf 
            br
            |  Date: 19th April

    
