extends layout.pug

block head
  title Morse Page

block content 
  
  h1  Morse Code 
  p
    | Morse code is interesting because it is a method of transmitting text as a series of short-or-long tones, named after Samuel F. B. Morse. Morse Code encodes ISO basic Latin alphabet with some extra Latin letters, Arabic numerals, and small set of punctuation. However this example will only encode letters for you. Note that text will be translated to lowercase. Many people recognize SOS Morse code: ... --- ... /
  #input_area
  div(align='center')
    textarea#message(placeholder='Type your message' style='font:20px/1.25 normal freemono, calibri, monospace;width:90%;height:7em;')
    br
    .btn
      div(style='text-align:center;')
        button.button(type='submit' onclick='encode()') Encode
        button.button(type='submit' onclick='decode()') Decode
        button.button(type='submit' onclick='eraseText()') Clear
      div
        script(type='text/javascript' src='./javascript/morse.js')
        .footer
          p
            | Ismael Souf 
            br
            |  Date: 19th April

 
