extends layout.pug

block head
  title Profile
  
block content
  form.form1(action='/profile', method='POST')
    h1(align='left') User Informations
    p
    img#profile(height='50' width='50' src='./img/avatar.png' alt='profile-image')
    p
      | EMAIL ID: 
      br
      textarea.profile(name='email')=email
    p
      | USERNAME: 
      br
      textarea.profile(name='username', readonly='')=username
    p
      |NEW PASSWORD: 
      br
      textarea.profile(name='password', placeholder='Enter new password...')
      br
      button.btntest(type='submit') Change Password
      .footer
        p
          | Ismael Souf 
          br
          |  Date: 19th April